button {
  color: black;
  font-size: 15px;
}
h1 {
    color: white;
    font-size: 45px;
    text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}
input {
  border-radius: 7px;
  font-size: 21px;
  font-family: sans-serif;
}
body {
  background-color: rgb(41, 41, 41);
}
button {
  background-color: aliceblue;
  margin-top: 20px;
  border-radius: 10px;
   font-size: 20px;
}
.cidadeCEP {
  font-size: 25px;
  font-weight: bold;
}