button {
  color: black;
  font-size: 15px;
}
input {
  font-size: 21px;
  font-family: sans-serif;
}
body {
  background-color: rgb(41, 41, 41);
}
button {
  background-color: aliceblue;
  margin-top: 20px;
  border-radius: 10px;
   font-size: 20px;
}
.cidadeCEP {
  font-size: 25px;
  font-weight: bold;
}